/*
 * jQuery FlexSlider v2.4.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url('fonts/flexslider-icon.eot');
  src: url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('fonts/flexslider-icon.woff') format('woff'), url('fonts/flexslider-icon.ttf') format('truetype'), url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
  position: relative;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  background: #ffffff;
  position: relative;
  zoom: 1;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  height: auto;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(#fff, 1);
  background-color: rgba($color-yellow, 1);
  // text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 18px;
  display: inline-block;
  content: '\f001';
  color: rgba(#fff, 1);
  background-color: rgba($color-yellow, 1);
  
  // text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}
.flex-direction-nav .flex-prev {
  left: 10px;
  opacity: 0.7;
  padding: 3px 3px 0 0;
}
.flex-direction-nav .flex-next {
  right: 10px;
  text-align: right;
   opacity: 0.7;
   padding: 3px 6px 0 0;
}
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 1;
  left: 20px;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 1;
  right: 20px;
}
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
}
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a .flex-play:before {
  content: '\f003';
}
.flex-control-nav,
.entry-content .flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
  padding: 0;
  @media screen and (min-width: $tabwidth) {
    bottom: 23px;
  }
  @media screen and (min-width: $deskwidth) {
    bottom: 33px;
  }
}
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 25px;
  height: 25px;
  display: block;
  background-color: rgba(#fff, 0);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid $color-yellow;
}
.flex-control-paging li a:hover {
  background: #333;
  background-color: rgba(#fff, 1);
}
.flex-control-paging li a.flex-active {
  background: #000;
  background-color: rgba(#fff, 1);
  cursor: default;
}
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
.text {
  width: 50%;
  position: absolute; 
  top: 10%;
  color: #fff;
  left: 25%;
  text-align: center;
  @media screen and (min-width: $tabwidth) {
    top: 15%;
  }
  @media screen and (min-width: $deskwidth) {
    top: 20%;
  }
  h2 {
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    line-height: 1.2;
    @media screen and (min-width: $tabwidth) {
      font-size: 40px;
    }
    @media screen and (min-width: $deskwidth) {
      font-size: 60px;
    }
  }
  &.gallery {
    position: relative; 
    width: 100%;
    left: 0;
    padding: 20px;
    background-color: #1a1a1a;
    margin: 0;
    @media screen and (min-width: $tabwidth) {
      width: 50%;
      left: 100px;
      position: absolute; 
      padding: 0;
    }
    h2 {
      font-size: 18px;
      @media screen and (min-width: $tabwidth) {
        font-size: 28px;
      }
      @media screen and (min-width: $deskwidth) {
        font-size: 38px;
      }
      span.yellow {
        color: $color-yellow;
        font-size: 13px;
        width: 100%;
        display: block;
        text-align: center;
         @media screen and (min-width: $tabwidth) {
            font-size: 18px;
          }
          @media screen and (min-width: $deskwidth) {
            font-size: 28px;
          }
      }
    }
  }
  .gallery {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    .logo {
      flex-basis: 23%;
      background-color: #fff;
      padding: 5px;
      img {
        max-width: 100%;
      }
    }
  }
}
.learn-banner {
  width: 100%;
  position: absolute;
  bottom: 14%;
  padding: 20px 0;
  left: 0;
  background-color: rgba(#fff, .1);
  text-align: center;
  .btn {
    width: auto;
    display: inline-block;
    text-transform: uppercase;
    a {
      background-color: $color-yellow;
      color: #fff;
      padding: 3px 30px;
    }
  }
}