.sticky {
	display: block;
}

// .hentry {
// 	margin: 0 0 1.5em;
// }

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.faqrow {
	width: auto;
	overflow: hidden;
	margin: 0 0 20px 0;	
	background-color: rgba(255,255,255,.05);
	border-radius: 10px;
}
.question {
	width: auto;
	float:left;
	margin: 10px;
	font-weight: bold;
	font-size: 20px;
	cursor:pointer;	
	line-height: 1.3;
	position: relative;
	padding: 0 0 0 20px ;
}
.question-image {
	width: 15px;
	height: 15px;
	position: absolute;
	left: 0px;
	top: 3px;
	background-image: url(images/faq.png);
	background-repeat: no-repeat;
	background-position: 0 0;	
}
.question-image.close {
	background-position: -15px 0;	
}
.answer {
	width: 100%;
	float:left;
	margin: 10px;
	font-size: 14px;
	line-height: 1.3;
	padding: 0 0 0 40px;
	display:none;
}
.plus-minus-toggle {
    cursor: pointer;
    height: 21px;
    position: absolute;
    width: 21px;
    left:-10px;
    top:40%;
    z-index:2;

    &:before,
    &:after {
      background: #eee;
      content: '';
      height: 5px;
      left: 0;
      position: absolute;
      top: 0;
      width: 21px;
      transition: transform 500ms ease;
    }

    &:after {
      transform-origin: center;
    }

    &.collapsed {
      &:after {
        transform: rotate(90deg);

      }

      &:before {
        transform: rotate(180deg);
      }
    }
}
section.about-first {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 80px 0;
	@media screen and (min-width: $tabwidth) {
		flex-direction: row;
		justify-content: space-between;
	}
	.block {
		width: 100%;
		@media screen and (min-width: $tabwidth) {
			flex-basis: 33%;
			width: auto;
			border-right: 1px solid #000;
			padding: 0 40px ;
			&:last-child {
				border-right: 0px solid #000;
			}
		}
		h2 {
			text-transform: uppercase;
    		font-size: 48px;
    		color: $color-blue;
    		line-height: 1em;
    		font-weight: 200;
		}
		.desc {

		}
	}
}
section.about-second {
	width: 100%;
	position: relative;
	background-size: cover;
	background-position: center;
	float: left;
	padding: 80px 0;
	@media screen and (min-width: $tabwidth) {
		background-size: cover;
	}
	.info {
		width: 80%;
		margin: 0 auto;
		color: $color-blue;
		text-align: center;
		@media screen and (min-width: $tabwidth) {
			margin: auto 10% auto 0;
			width: 33%;
			float: right;
		}
	}
	.quote {
		line-height: 1.3em;
		font-family: 'Cormorant Garamond',Georgia,"Times New Roman",serif;
	    font-weight: 500;
	    font-size: 35px;
	    p {
	    	margin: 0;
	    }
	}
	.name {
		font-weight: 700;
	}
	.title {
		width: 100%;
		margin: 0 0 30px 0;
	}
}
section.about-third {
	width: 100%;
	float: left;
	position: relative;
	display: flex;
	flex-direction: column;
	@media screen and (min-width: $tabwidth) {
		flex-direction: row;
		align-items: stretch;
	}
	.block {
		width: 100%;
		float: left;
		padding: 5%;
		color: $color-blue;
		font-weight: 200;
		line-height: 1;
		@media screen and (min-width: $tabwidth) {
			width: 50%;
			flex-basis: 50%;
		}
		&.left ul {
			columns: 2;
			-webkit-columns: 2;
			-moz-columns: 2;
			list-style-type: none;
			margin: 0;
			padding: 0;
			font-size: 22px;
			li {
				margin: 0 0 10px 0;
			}	
		}
		&.left {background-color: $color-light-grey;}
		h2 {
			font-size: 50px;
			font-weight: 200;
			margin: 0 0 10px 0;
		}
		h3 {
			font-size: 25px;
			font-weight: 700;
		}
		ul {
			margin: 0 0 20px 0;
			padding: 0;
			color: $color-black;
			font-size: 18px;
			// list-style-position: inside;
			word-break: break-all; 
			padding: 0 0 0 10px;
			li {
				font-weight: 20px;
				margin: 0 0 10px 0;
			}
		}
		.half {
			width: 100%;
			@media screen and (min-width: $tabwidth) {
				width: 45%;
				float: left;
				margin: 0 0 0 10%;
				
			}
			&:nth-child(2) {
					margin: 0;
				}
		}
	}
}
section.about-fourth {
	width: 100%;
	float: left;
	padding: 80px 10%;
	background-color: $color-blue;
	h2 {
		width: 100%;
		color: #fff;
		font-size: 50px;
		text-align: center;
		font-weight: 200;
		margin: 0 0 40px 0;
	}
	.steps {

		@media screen and (min-width: $tabwidth) {  
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		.step {
			border-bottom: 2px solid $color-blue;
			padding: 5%;
			text-align: center;
			background-color: $color-light-grey;
			line-height: 1.1;
			font-size: 20px;
			font-weight: 200;
			@media screen and (min-width: $tabwidth) { 
				flex-basis: 33%;
			}
			&.first {
				background-color: #fff;
			}
		}
		.circle {
			border: 1px solid  $color-blue;
		    border-radius: 50%;
		    height: 65px;
		    width: 65px;
		    line-height: 50px;
		    font-size: 45px;
		    font-weight: 100;
		    color:  $color-blue;
		    text-align: center;
		    margin: 0 auto 10px auto;
		}
	}
}
section.about-fith {
	width: 100%;
	float: left;
	padding: 80px 20px;
	text-align: center;
	h2 {
		color: $color-blue;
		font-size: 50px;
		font-weight: 200;
	}
	.desc {
		max-width: 300px;
		line-height: 1.5;
		margin:30px auto;
		font-weight: 200;
	}
}